.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.image-up {
  width: 140px;
  margin: 2.5rem auto 1rem;
}
.hq {
  position: relative;
  text-align: left;
}
.hq .profile-pic {
  margin: 0 !important;
  margin: auto;
  background-blend-mode: multiply;
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
  height: 136px;
  width: 136px;
  background-size: cover;
  color: transparent;
  background-repeat: no-repeat;
}

.hq .profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}
.pro-div {
  position: absolute;
  top: 0;
}
.profile-pic span {
  display: block;
  height: 100%;
  cursor: pointer;
  position: relative;
  top: -100%;
  font-size: 14px;
  width: 100%;
  left: 0;
  z-index: 1000;
  padding-top: 45%;
}
#my_file {
  display: none;
}
