<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="onAddEmployee()">Add Employee</button>
</div>
<mat-list role="list">
    <mat-card class="matCard">
        <span>Employee Name</span>
        <span>Action</span>
    </mat-card>
    <mat-card class="matCard" *ngFor="let item of employees">
        <span>{{item.employeeName}}</span>
        <mat-icon (click)="onUpdateIcon(item._id)" class="example-icon cursor-pointer" aria-hidden="false"
            aria-label="Example user verified icon">create
        </mat-icon>
    </mat-card>
</mat-list>